.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
}

.button-container {
  position: relative;
}

.main-image {
  width: 100%;
  height: auto;
}

.hover-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hovering .hover-image {
  opacity: 1;
}

.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  background-image: url('./images/cup_pen_stain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 5vmin);
  color: midnightblue;
  text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white; /* Create white outline */
}
.App-header h1 {
  margin-top: 20px; /* Adjust the value as needed */
}

.home-bg {
  background-image: url('./images/cup_pen_stain.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-bg {
  background-image: url('./images/blank_graph.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-bg {
  background-image: url('./images/blank_page_pen.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
.projects-bg {
  background-image: url('./images/mess.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg {
  background-image: url('./images/doodle.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the links */
  align-items: flex-start; /* Align links to the left */
  padding: 20px;
  position: fixed; /* Fix the position of the menu */
  top: 0; /* Position the menu at the top */
  left: 0; /* Position the menu at the left */
  height: 100vh; /* Set full height to fill the viewport */
  width: 200px; /* Set a fixed width for the menu */
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
}

.cv-content {
  max-width: 800px; /* Limit content width */
  padding: 20px;
}
.about-bg h1,
.projects-bg h1,
.contact-bg h1,
.cv-bg h1 {
  color: midnightblue;
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center; /* Center the "CV" header */
}

.about-bg h2,
.projects-bg h2,
.contact-bg h2,
.cv-bg h2 {
  font-size: 2.5rem;
}
.about-bg p,
.projects-bg p,
.contact-bg p,
.cv-bg p {
  font-size: 1.5rem;
}
.about-bg a,
.projects-bg a,
.contact-bg a,
.cv-bg a {
  text-decoration: none;
  color: midnightblue;
  font-size: 1.5rem;
  margin-bottom: 10px;
}


.about-content {
  max-width: 800px; /* Limit content width */
  padding: 20px;
}
