@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*, *::before, *::after {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
}

.button-container {
  position: relative;
}

.main-image {
  width: 100%;
  height: auto;
}

.hover-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hovering .hover-image {
  opacity: 1;
}

.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  background-image: url('./images/gridbook_pen_mess4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 5vmin);
  color: midnightblue;
  text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white; /* Create white outline */
}
.App-header h1 {
  margin-top: 20px; /* Adjust the value as needed */
}

.home-bg {
  background-image: url('./images/gridbook_pen_mess5.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-bg {
  background-image: url('./images/artbookpen2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-bg {
  background-image: url('./images/gridbook_pen_mess.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
.projects-bg {
  background-image: url('./images/mess.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg {
  background-image: url('./images/gridbook_doodle.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-links {
  font-family: "Madimi One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the links */
  align-items: flex-start; /* Align links to the left */
  padding: 40px 20px; /* Increase padding for better spacing */
  position: fixed; /* Fix the position of the menu */
  top: 0; /* Position the menu at the top */
  left: 0; /* Position the menu at the left */
  height: 100vh; /* Set full height to fill the viewport */
  width: 250px; /* Set a wider width for the menu */
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
}

.menu-links a {
  font-size: 2rem; /* Increase font size */
  margin-bottom: 30px; /* Increase margin between links */
}

.cv-content {
  position: relative; /* Add relative positioning */
  margin-left: 200px;
  max-width: 800px; /* Limit content width */
  width: 100%;
}

.navigation-arrows {
  position: absolute;
  top: 50%;
  display: flex;
  left: -200px; /* making this lower moves arrow to left */
  right: -200px; /* making this lower, moves arrow to right*/
}

.navigation-arrows button {
  background-color: transparent;
  border: none;
  font-size: 100px;
  cursor: pointer;
  color: midnightblue;
}

.navigation-arrows button:first-child {
  margin-right: auto; /* Push the left arrow to the left */
}

.navigation-arrows button:last-child {
  margin-left: auto; /* Push the right arrow to the right */
}

.section-links {
  display: flex;
  justify-content: space-between;
  position: fixed; /* Change to fixed positioning */
  top: 220px; /* Adjust the top position as needed */
  left: 55%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  width: 40%; /* Adjust width as needed */
  z-index: 999; /* Ensure buttons are on top of other content */
}

.section-links button {
  font-size: 2rem;
  background-color: rgba(252, 234, 234, 0.9);
  /*text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white;*/
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: midnightblue;
  padding: 10px 20px; /* Add padding for better appearance */
  transition: color 0.3s ease; /* Add transition for smoother effect */
}

.section-links button.active {
  background-color: midnightblue; /* Change background color for active button */
  color: white; /* Change text color for active button */
}
.about-bg h1,
.projects-bg h1,
.contact-bg h1,
.cv-bg h1 {
  color: midnightblue;
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center; /* Center the "CV" header */
}

.about-bg h2,
.projects-bg h2,
.contact-bg h2,
.cv-bg h2 {
  font-size: 2.5rem;
}
.about-bg p,
.projects-bg p,
.contact-bg p{
  font-size: 1.5rem;
  line-height: 1.5;
}

.cv-bg p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.about-bg a,
.projects-bg a,
.cv-bg a {
  text-decoration: none;
  color: midnightblue;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact-bg a {
  text-decoration: underline;
  color: midnightblue;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.about-content {
  max-width: 800px; /* Limit content width */
  padding: 20px;
  margin-left: 300px;
}

#contactInfo{
  margin-bottom: 100px;
}

#contactEmail{
  margin-top:500px;
  margin-bottom: 100px;
}


.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.main-image:hover + .hover-image {
  opacity: 1;
}


.large-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain; /* Ensure the background image covers the button area */
  background-color: rgba(255, 215, 215, 0.7);
  border-radius: 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.large-button:hover {
  filter: brightness(150%);
}
