@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

/*HOMEPAGE AND GLOBAL CSS*/
*, *::before, *::after {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
}

.App {
  text-align: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  font-size: calc(10px + 7vmin);
  color: midnightblue;
  text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white;
}

.home-bg {
    background-image: url('./images/home.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  width: 100vw;
    display: flex; /* Change to flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }

.main-image {
  width: 90%; /* Adjust the width for mobile devices */
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
  height: auto; /* Maintain the aspect ratio */
}

/*SIDEBAR RELATED CSS*/
.sidebar {
  width: 20vw; /* Adjust the width relative to the viewport width */
  min-width: 100px; /* Set a minimum width for smaller screens */
  height: 100vh; /* Set height to full viewport height */
  background-color: #f0f0f0; /* Example background color */
  position: fixed; /* Fixed position to keep it visible while scrolling */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
}
.sidebar-button {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s, filter 0.3s; /* Add transition for smooth effect */
}

.sidebar-button:hover {
  transform: scale(1.1); /* Increase size on hover */
  filter: brightness(150%); /* Increase brightness on hover */
}

/* App.css */
.app-container {
  width: 100vw; /* Ensure the container fills the viewport width */
  height: 100vh; /* Ensure the container fills the viewport height */
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  overflow-x: hidden; /* Hide horizontal overflow */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.sidebar-home-button {
  max-width:100%;
  height: auto;
}

.sidebar-home-button {
  max-width: 100%;
  height: auto;
}

.sidebar-button {
  max-width: 100%;
  height: auto;
}

/* Media query for smaller devices */
@media (min-width: 769px) {

  .sidebar-home-button {
    max-width: 100%;
    height: auto;
  }

  .sidebar-button {
    max-width: 100%;
    height: auto;
  }
}




/*HOME PAGE BUTTON CSS*/
.button-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start (left) of the container */
  height:60vh; /* Adjust the height of the container */
  padding-left: 10vh; /* Add padding to the left to create space between buttons left edge */
}

.button {
  margin-bottom: 10px; /* Add margin between buttons */
}

.hover-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hovering .hover-image {
  opacity: 1;
}




/*ABOUT PAGE CSS */

.about-bg {
  display: flex; /* Add flex display */
  justify-content: center;
  align-items: flex-start; /* Align items to the start */
  background-image: url('./images/about.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set full viewport height */
  width: 100vw;
}

.content-container {
   max-width: 55vw;
   padding: 20px; /* Adjust padding as needed */
   margin-top: 20vh; /* Adjust the margin to move the container lower on the screen */
   background-color: rgba(252, 234, 234, 0.9);
   border-radius: 25px;
   font-size: 1.5rem; /* Set the font size to a larger value */
  line-height: 2.25rem;
 }


@media (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: stretch; /* Stretch items to fill the container width */
  }
}


/*CV PAGE CSS*/
.cv-bg h3 {
  font-size: 1rem;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 5px;
}

.cv-bg p {
  font-size: 1rem;
  line-height: 1.25;
}

.cv-bg a {
  text-decoration: none;
  color: midnightblue;
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: left;
}

.cv-bg {
  background-image: url('./images/cv.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.cv-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) of the container */
  border-radius: 25px;
  padding: 1%;
  background-color: rgba(252, 234, 234, 0.9);
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .cv-container {
    align-items: center; /* Center items horizontally for smaller screens */
  }

  .button-container {
    position: relative; /* Change to relative position for stacking */
    top: 0; /* Reset top position */
    margin-bottom: 0; /* Remove margin for smaller screens */
  }

  .button-container.small-button {
    position: relative; /* Change to relative position for stacking */
    top: 0; /* Reset top position */
    margin-bottom: 0; /* Remove margin for smaller screens */
  }
}


/*PROJECTS PAGE CSS*/
.projects-bg p{
  font-size: 1.5rem;
  line-height: 1.5;
}

.projects-bg a{
  text-decoration: none;
  color: midnightblue;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.projects-bg {
  width: 100vw; /* Ensure the element fills the viewport width */
  height: 100vh; /* Ensure the element fills the viewport height */
  background-image: url('./images/projects.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .button-container {
    position: relative; /* Change to relative position for stacking */
    top: 0; /* Reset top position */
    margin-bottom: 0; /* Remove margin for smaller screens */
  }

  .button-container.small-button {
    position: relative; /* Change to relative position for stacking */
    top: 0; /* Reset top position */
    margin-bottom: 0; /* Remove margin for smaller screens */
  }
}




/*CONTACT PAGE CSS*/
.contact-bg {
  width: 100vw; /* Ensure the element fills the viewport width */
  height: 100vh; /* Ensure the element fills the viewport height */
  background-image: url('./images/contact.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.contact-container {
  width: 50vw; /* Adjust the width for mobile devices */

  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin: 0 auto; /* Center the container horizontally */
  padding: 2%; /* Add padding to the container */
  background-color: rgba(252, 234, 234, 0.6);
  border-radius: 25px;
  line-height: 2.5rem;
  text-decoration: underline;
  color: midnightblue;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .sidebar {
    width: 30vw; /* Adjust the width relative to the viewport width */
  }

  .main-image {
    width: 100%; /* Adjust the width to fill the container on smaller screens */
  }

  .contact-container {
    width: 90%; /* Adjust the width for smaller screens */
    padding: 5%; /* Adjust padding for smaller screens */
    text-align: center; /* Center text on smaller screens */
  }
}