@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*, *::before, *::after {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    position: relative;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.main-image:hover + .hover-image {
    opacity: 1;
}
.projects-bg {
    background-image: url('./images/mess.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll; /* Enable vertical scrolling */
}


.large-button {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain; /* Ensure the background image covers the button area */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    border: none;
}

/* Add hover effect for large buttons */
.large-button:hover {
    filter: brightness(80%);
}
